@import 'tailwindcss';

* {
  font-family: 'Pretendard';
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style: none;
}

@layer utilities {
  input:-webkit-autofill {
    @apply bg-white text-black;
  }
  
  input:-webkit-tap-highlight-color {
    @apply bg-white;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('font-woff2');
  font-display: swap;
  font-weight: 45 920;
}

@theme {
  --color-primary-100: #E7FDEC;
  --color-primary-300: #B5F7D3;
  --color-primary-500: #7FE4C1;
  --color-primary-700: #3FA495;
  --color-primary-900: #186A6D;
  
  --color-secondary-yellow: #FDFA91;
  --color-secondary-blue: #005880;
  --color-warning: #ff517c;
  
  --color-default-gray-100: #fefefe;
  --color-default-gray-400: #e6e6e6;
  --color-default-gray-500: #c3c3c3;
  --color-default-gray-700: #616161;
  --color-default-gray-800: #212121;
}

@layer utilities {
  .font-hero {
    font-size: 54px;
    font-weight: 700;
    line-height: 140%;
  }
  
  .font-heading1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 130%;
  }
  
  .font-heading2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
  }
  
  .font-heading3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
  }
  
  .font-body1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
  }
  
  .font-body2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }
  
  .font-caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
  }
  
  .rounding-16 {
    border-radius: 16px;
  }
  
  .rounding-32 {
    border-radius: 32px;
  }
  
  .shadow-default {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }
}

input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
  input:autofill:hover,
  input:autofill:focus,
  input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}